{% extends "blog/base.html" %}

{% block content %}
    <main class="main-content section-wrapper">
        <div class="section-content-narrow">
            <div class="section-gap">
                <h1 class="center">THE PAGE</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sint laboriosam laudantium vero ipsum. Ipsam praesentium et tenetur delectus blanditiis non. Odio aperiam sequi animi beatae omnis, eaque optio praesentium.</p>
            </div>
        </div>
    </main>
{% endblock content %}
